* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title-logo {
    vertical-align: top;
    display: inline-block;
    margin-top: 5px;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}